@import '/src/common/mini-reset.css';
html {
  font-size: 10px;
}
/* 타이포그래피 및 단위 *
/* 글자크기 */
/* em - 현재 글자크기 비례 */
.lion {
  font-size: 10px;
  .like {
    font-size: 1.5em;
    color: cornflowerblue;
  }
}
/* rem - 루트 요소(html) 글자크기 비례 */
.bootcamp {
  font-size: 20px;
  .like {
    font-size: 2rem;
    color: coral;
    line-height: 1.5;
  }
}
/* vw - 뷰포트 */
.school {
  font-weight: 700;
  .like {
    font-size: 5vw;
    color: green;
  }
  em {
    font-style: oblique;
  }
}
