/* 리스트 스타일링 */
.bootcamp {
  background: #ffa;
  ul {
    list-style-type: circle;
    list-style-position: inside;
    list-style-image: url(/src/assets/thumbnail/new.png);
  }
}

.likelion {
  background-color: #faf;
  ol {
    list-style: upper-roman url(/src/assets/thumbnail/new.png) inside;
  }
}
