@property --textColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #f0c;
}
:root {
  --green: #0f0;
  --red: #f00;
  --blue: #00f;
  --mainColor: var(--green);
}
/* CSS 변수 */
body {
  margin: 50px;
  background: #ffc;
}
a {
  color: var(--textColor);
  span {
    color: var(--textColor);
  }
}
h1 {
  color: var(--textColor);
}
p {
  color: var(--textColor);
}
div {
  color: var(--textColor);
}
