/* css 미디어 쿼리 */
body {
  margin: 50px;
  color: #fafafa;
  background-color: #121212;

  /* 320px 이상의 디바이스 - mobile */
  @media screen and (min-width: 320px) {
    color: #5a5a5a;
    background-color: lightblue;
  }
  /* 768px 이상의 디바이스 - tablet */
  @media screen and (min-width: 768px) {
    color: brown;
    background-color: lightcoral;
  }
  /* 1280px 이상의 디바이스 - desktop */
  @media screen and (min-width: 1280px) {
    color: violet;
    background-color: lightgreen;
  }
}

/* 320px 이상의 디바이스 - mobile */
/* @media screen and (min-width: 320px) {
  body {
    color: #ffc;
    background-color: darkblue;
  }
} */

/* 768px 이상의 디바이스 - tablet */
/* @media screen and (min-width: 768px) {
  body {
    color: brown;
    background-color: lightcoral;
  }
} */

/* 1280px 이상의 디바이스 - desktop */
/* @media screen and (min-width: 1280px) {
  body {
    color: violet;
    background-color: lightgreen;
  }
} */
