:root {
  --bl: #121212;
  --wh: #fafafa;
}
/* 테이블 스타일링 */
body {
  margin: 50px;
  color: var(--bl);
}
.tableWrapper {
  max-height: 500px;
  overflow: auto;
}
.table-styling {
  width: 100%;
  inline-size: 100%;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;

  .number {
    inline-size: 10%;
  }
  .name {
    inline-size: 20%;
  }
  .email {
    inline-size: 30%;
  }
  .phone {
    inline-size: 40%;
  }

  thead,
  tfoot {
    background-color: var(--bl);
    color: var(--wh);
  }
  thead {
    position: sticky;
    top: 0;
  }
  tfoot {
    position: sticky;
    bottom: 0;
  }
  tbody {
    tr:nth-of-type(3n + 1) {
      background-color: #dedede;
    }
  }
  td,
  th {
    padding: 5px 0;
  }
}
