/* 이디야 뉴스(grid 레이아웃) */
body {
  margin: 50px;
  background: #000;
  color: #fff;
}

.news {
  margin-block: 20px;
  max-inline-size: 375px;
  min-inline-size: 320px;
  background: #24388d;
  padding: 20px;
  gap: 5px 20px;
  display: grid;
  grid-template-columns: minmax(190px, 1fr) max-content;

  .title {
    font-size: 0.9375rem;
    margin-bottom: 10px;
    color: #fefefe;
  }
  .list,
  .item {
    display: contents;
  }
  .list {
    font-size: 0.75rem;
    color: #f5f5f5;
  }

  .more {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
  }
}
