body {
  margin: 50px;
}

/* 컴포넌트 */
.top_brand_item {
  div {
    background: #f5f5f5;
    border-radius: 0.5rem;
  }
  img {
    margin-inline: auto;
  }
  figcaption {
    padding-block-start: 10px;
    text-align: center;
    font-size: 0.75rem;
  }
}

/* float 레이아웃 */
.top_brand_section {
  width: 1300px;
  background: #ffc;
  h2 {
    color: #303033;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 16px;

    span[lang] {
      display: block;
      font-weight: 700;
      font-size: 1.25rem;
    }
  }
  .top_brand_list {
    display: flow-root;
    li {
      width: 228px;
      float: left;
      margin: 12px 40px 0 0;
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }
}
