@property --point-color {
  syntax: '<color>';
  inherits: true;
  initial-value: #22be61;
}

:root {
  --green: #22be61;
  --gray: #9b9a90;
  --brown: #e39042;
}
body {
  margin: 50px;
  background: #f6f7f7;
}
/* 알림 notification 컴포넌트 */
.notification {
  --base-color: #9b9a90;

  border: 1px solid var(--base-color, #9b9a90);
  /* margin-block-end: 20px; */
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 8px;
  min-inline-size: 260px;
  color: var(--point-color);

  svg {
    flex-shrink: 0;
  }

  > div {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 4px;
  }
  strong {
    font-weight: 600;
    font-size: 18px;
  }
  time {
    font-weight: 700;
    font-size: 11px;
  }
  p {
    inline-size: 90%;
    font-size: 14px;
    color: var(--base-color, #9b9a90);
  }
  .green {
    color: var(--green);
  }
  .brown {
    color: var(--brown);
  }
}

/* 알림 notification 리스트 */
.notification_list {
  --gap: 20px;

  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);

  li {
    display: contents;
  }

  .notification {
    flex: 1 1 100%;
    @media (600px >= width) {
      width: calc(50% - (var(--gap) / 2));
    }
    @media (1024px >= width) {
      width: calc(25% - ((var(--gap) * 3) / 4));
    }
  }
}
