/* 스크롤이 없는 100% 레이아웃 */
/* .container가 부모요소의 크기를 상속 받을 수 있도록 높이를 100%로 고정*/
html,
body {
  block-size: 100%;
}

.container {
  background-color: lightblue;
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-flow: column nowrap;

  .header,
  .nav,
  .footer,
  .main_content,
  .sidebar {
    padding: 1em;
  }

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    /* 스크롤이 발생했을 때 스크롤바가 보여지지 않도록 숨김 */
    overflow: hidden;
  }
}
.sidebar {
  inline-size: 250px;
  background-color: lightpink;
}
.main_content {
  background: lightgreen;
  flex-grow: 1;
}
